*{
    margin:0px;
    padding:0px;
}
body{
 background-color:lightblue;
 
flex-direction: column;
display: flex;
height: 100vh;
}
header h1{
    text-align: center;
    font: 40px;
}
.font{
    padding:25px ;
    height:110vh;
    border:6px solid black;
    tab-size: 0cap;
}

.p{
    float: left;
    margin-left: 25px;
    
}
.p h2{
    margin:22px;
    font-size: 30px;

}
.li{
    font-size: 22px;
    line-height:1.6 ;
    margin: 20px;
    
}

.img{
    float:right;
    height: 700px;
    width: 400px;
    margin:100px;
    border-radius:20px;
    border:8px solid#333;
    box-shadow: 0 4px 10px ;
    object-fit: cover;
    margin-top: -20px;

}
h3{
    margin-left: 30px;
    padding:10px;
    font-size: 30px;
}
ul,li{
    margin:20px;
    font-size:20px;
    list-style: none;
}
